

<div class="historia">
    <h1>History of Minecraft</h1>
  <p>
    In 2009, Minecraft was created by Markus Persson, also known as Notch and was
    originally called Cave Game. This game was different than other online games
    where you create things because instead of simply creating structures, you
    also have to gather resources to build those structures. This mix was unusual
    because most games at the time usually only had the player gather resources
    and not build or to build but not have to gather resources. On top of that,
    Minecraft was also a survival game. You have to survive hostile mobs and can
    explore the vast world. You can also use your resources to craft new materials
    that you can use to create structures, survive longer, and craft more
    materials.
  </p>
  <h3>Minecraft Updates</h3>
  <p>
    -Updates that occurred after the release was 1.0.0. It was the explorer update
    that added all the features in the base game, like health and other base
    features.
  </p>
  <p>
    -The next update was 1.1, which added 51 new languages, including three
    fictional ones, and it added spawn eggs for all the current animals. Oak
    leaves also obtained a 1/2000 chance of dropping apples.
  </p>
  <p>
    -The next update was 1.2.1. The items that it added were the bottle o’
    enchanting and the fire charge. It also added mine shafts and desert wells.
  </p>
  <p>
    -The next update was version 1.3.1. In this update, many things were added and
    improved. Some of the things that were added in the game were trading with
    villagers and another mode called adventure mode. Some structures were added
    into the game as well, including desert and jungle temples. Desert villages
    and emeralds were also added to the game.
  </p>
  <p class="ultimoParrafo">
    -The following update was 1.4.2 (The Scary Update) which added many things
    including the wither, a second boss to the game. Some other things that it
    added were the anvil, carrots, potatoes, pumpkin pie, carrot on a stick, item
    frames, and flower pots. The mobs that it added were the wither skeletons, the
    witch, and the bat.
  </p>



<app-formulario></app-formulario>

</div>
