
<h1>Meet our animal friends!</h1>


<div *ngIf="animalList" class="all_animals">

   
   
    <div *ngFor="let animal of animalList" class="animal_box">

      <h4>Id: {{ animal._id }}</h4> 
      <h4>Name: {{ animal.name }}</h4> 
      

      <img [src]="animal.image" [alt]="animal.name">

      <h4>Description: {{ animal.description }}</h4>
      <h4>Spawning: {{ animal.spawning }}</h4>
      <h4>Behavior: {{ animal.behavior }}</h4>

      <button (click)="deleteAnimalById(animal._id)">Delete {{animal.name}}</button>

    </div>
    
</div>
