
<h1>All the information about our items!</h1>


<div *ngIf="itemList" class="all_items">

   
   
    <div *ngFor="let item of itemList" class="item_box">

      <h4>Id: {{ item._id }}</h4> 
      <h4>Name: {{ item.name }}</h4> 
      

      <img [src]="item.image" [alt]="item.name">

      <h4>Description: {{ item.description }}</h4>
      <h4>Obtaining: {{ item.obtaining }}</h4>
      <h4>Stack: {{ item.stack }}</h4>

      <button (click)="deleteItemById(item._id)">Delete {{item.name}}</button>

    </div>
    
</div>